@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway:wght@100;300;400;500;600;700&display=swap');

* {
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}